@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;800&display=swap');

* {
	font-size: 16px;
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	text-decoration: none;
	margin: 15px 0;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}



